html {
    font-family: 'Faculty Glyphic', 'Trebuchet MS', Arial, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
    height: 40vh;
    background: url(./assets/1.jpg) bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 5vw; /* 5% of the viewport's width */
    text-shadow: 0.3rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.site-wrap {
    max-width: 70rem;
    margin: 7rem auto;
    padding: 4rem;
    text-align: justify;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}

.transformed-nav .site-wrap {
    transform: scale(1);
}

nav {
    background: #ae935f;
    width: 100%;
    top: 0;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}

.transformed-nav nav {
    position: fixed;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

li.logo {
    max-width: 0; /* hidden - using max-width because width cannot be animated with transition */
    transition: all 0.5s;
    overflow: hidden;
    background: #f6d992;
}

.transformed-nav li.logo {
    max-width: 50rem; /* display from hidden */
}

li.logo a {
    color: rgb(0, 0, 0);
}

nav a {
    text-decoration: none;
    padding: 4rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: all 0.5s;
}

.w-100 {
    position: relative;
    width: 100%;
}
